/* @tailwind base;
@tailwind components;
@tailwind utilities; */


*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/* Custom hover effects for dropdown items */
.hover-bg-primary:hover {
    background-color: #0d6efd; /* Bootstrap primary color */
  }
  
  .hover-text-white:hover {
    color: white !important;
  }
  
  /* Rotate arrow when dropdown is open */
  .rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }


/* Arsalan CSS STARTS */
.classHeader{
  padding: 15px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #e9e9e9;
  background-color: #fff;
}

.headerLinks{
  margin: 10px 0px;
  font-size: 18px;
  padding: 4px 12px;
  margin: 0px 12px;
  font-weight: 700;
}
.headerLinks:hover{
  color: #05A6F0;
}

.btn-credentials{
  margin: 0px 10px;
  white-space: nowrap;
}

.sticky-header-top{
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.txt-gray{
  color: rgba(82, 82, 108, 0.8) !important;
  }
.txt-dark{
  color: #202c4b !important;
  }
  .h-fullscreen {
    height: calc(100vh - 69px);
} 
/*======= Button-color css starts  ======= */
@keyframes push {
  50% {
      transform: scale(0.95);
  }

  100% {
      transform: scale(1);
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #f5f5f5 !important;
  border-color: #fafafa !important;
  color: #95a1b1;
}

.btn-primary{
  background-color: #05A6F0 !important;
  border-color: #05A6F0 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem white;
}

.btn-danger {
  background-color: #FC4438 !important;
  border-color: #FC4438 !important;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
}

  .btn-danger.disabled, .btn-danger:disabled {
      background-color: #FC4438 !important;
      border-color: #FC4438 !important;
  }

  .btn-danger:focus {
      box-shadow: 0 0 0 0.2rem #fed2cf;
  }

.btn-outline {
  background-color: #fff !important;
  border-color: #d5d9e1 !important;
  -webkit-tap-highlight-color: transparent;
  color: #1E2432;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px #1018280D;
  color: #666D80;
}

.btn-light.disabled, .btn-light:disabled {
  background-color: #f4f4f4 !important;
  border-color: #f4f4f4 !important;
  color: #95a1b1;
}

.btn-light:focus {
  box-shadow: 0 0 0 0.2rem white;
}

.btn-light {
  background-color: #fff !important;
  border-color: #05A6F0 !important;
  color: #05A6F0 !important;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px #1018280D;
}

  .btn-light:hover {
      background-color: rgba(115, 102, 255, 0.1) !important;
      border-color: rgba(115, 102, 255, 0.1) !important;
  }



.btn-hover-effect:hover {
  animation: push 0.5s linear 1;
}

.btn-transparent {
  background-color: #fff !important;
  border-color: transparent !important;
  color: #6B7C94;
  font-weight: 500;
  padding: 0.25rem !important;
}

.btn-light-blue {
  background-color: #CDEDFC33 !important;
  border-color: #ACE1FA !important;
  color: #05A6F0;
  font-weight: 500;
}

.btn-outline-danger {
  font-weight: 500;
}

/*======= Button-color css end  ======= */



/* TEXT COLORS STARTS */

.txt-primary {
  color: #05A6F0 !important;
  text-decoration: underline;
}
/* TEXT COLORS ENDS */





/* SIDEBAR CSS STARTS */
.mySidebar {
  position: sticky;
  top: 0;
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enables scrolling if needed */
}
/* SIDEBAR CSS ENDS */



/* Arsalan CSS ENDS */


/* Arsalan BG CSS START */

.bg-image {
  background: url('../src/assets/images/background.jpg') !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat;
}

/* Arsalan BG CSS ENDS */


/**=====================
 Avatars CSS start
==========================**/

.text_avatar {
  background: #3B80F2;
  border-radius: 50%;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 3px;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  font-size: 6px;
  white-space: nowrap;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  line-height: 1;
}

.text_avatar_36 {
  background: #05A6F0;
  border-radius: 50%;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0px;
  /* vertical-align: middle; */
  width: 36px;
  height: 36px;
  font-size: 20px;
  white-space: nowrap;
  white-space-collapse: collapse;
  text-wrap-mode: nowrap;
  font-weight: 400;
  text-align: center;
  float: left;
  margin-right: 12px;
  display: block;
}

.text_avatar_48 {
  background: #ffc600;
  border-radius: 50%;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 0px;
  width: 48px;
  height: 48px;
  font-size: 26px;
  white-space: nowrap !important;
  font-weight: 400;
  text-align: center;
  float: left;
  margin-right: 12px;
  display: block;
  border: 1px solid white;
}

.sidebarName{
  color: white !important;
}



.sidebarHeaderContainer{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.sidebarName{
  font-size: 16px !important;
  font-weight: 700 !important;
}

.sidebarRole{
  font-size: 14px;
}
.bgHomeCard {
  background: linear-gradient(to bottom right, #5DC1B9, #05A6F0); /* Teal Gradient */
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.scrollbar-wrapper{
  max-height: 525px;
  overflow-y: auto;
}
.min-h-loginPage{
  min-height: 596px;
}
.btnDropdown {
  background-color: white;
  color: rgb(106, 114, 135);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/**=====================
 Avatars CSS Ends
==========================**/

/* Arsalan Responsive CSS Starts */




@media (max-width: 768px) {
  .col-md, .col-md-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      flex: 0 0 auto;
      width: 100%;
  }
  .footer-copyright {
      text-align: center !important;
      margin:5px 0px;
  }
  .btn.btn-primary.ms-auto {
      width: auto !important;
      float: right;
  }
  .toggle-passwordsSignup{
    top: 222px !important;
  }
}

@media (max-width: 820px) {
  .col-md, .col-md-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      flex: 0 0 auto;
      width: 100%;
  }

  .footer-copyright {
      text-align: center !important;
      margin: 5px 0px;
  }

  .btn.btn-primary.ms-auto {
      width:auto !important;
      float:right;
  }
}

@media (max-width: 1024px) {
  .col-md, .col-md-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      flex: 0 0 auto;
      width: 100%;
  }
  .footer-copyright {
      text-align: center !important;
      margin: 5px 0px;
  }

  .btn.btn-primary.ms-auto {
      width: auto !important;
      float: right;
  }
}

/*Dropdown*/
@media only screen and (min-width: 810px) and (max-width: 1180px) {
  .dropdown .select-label {
      font-size: 12px;
      height: 38px;
      /*line-height: 34px;*/
      /*background-color: green !important;*/
  }
}

@media only screen and (min-width: 810px) and (max-width: 1180px) {
  .min-w-180 {
     min-width: 145px;
  }
  .min-w-70 {
      min-width: 65px;
  }
}


/*button*/
@media only screen and (min-width: 810px) and (max-width: 1180px) {
  .btn {
      font-size: 12px;
      /*background-color: green !important;*/
  }

}


/*Input*/
@media only screen and (min-width: 810px) and (max-width: 1180px) {
  input[name="search"] {
      padding: 9px 0px 8px 30px;
      /*background-color: green !important;*/
  }
}
@media only screen and (min-width: 810px) and (max-width: 1180px) {
  input[type=text] {
      font-size: 12px;
      /*background-color: green !important;*/
  }
}

@media screen and (min-width: 810px) and (max-width: 1180px) {
  label {
      font-size: 12px !important;
  }
}


@media screen and (max-width: 1024px) {
  .resRow h1{
    text-align: center;
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 1024px) {
  .headerLinks {
    margin: 0px 4px;
    font-size: 14px;
    padding: 4px 4px;
    font-weight: 700;
}
.btn-credentials{
  margin: 0px 3px !important;
}
}



/* Arsalan Responsive CSS Ends */


/* ARSALAN INPUT CSS STARTS */


input[type="text"], input[type="email"], input[type="file"], input[type="password"]{
  border-color: #E9EDF4 !important;
  color: #202C4B;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  border-radius: 5px;
  height: 38px;
  transition: all 0.5s;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-bottom: 1rem !important;
}

/* .form-control[type=file] {
  padding: 0.3rem 0.5rem !important;
} */
.posRel{
  position: relative;
}

.toggle-passwordsSignup {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #202C4B;
  font-size: 18px;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  border-radius: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  position: absolute;
  top: 50px;
  right: 25px;
}

input[type="file"]::file-selector-button {
  padding: 0.5rem !important;
}

.c-pointer{
  cursor: pointer;
}


/* ARSALAN INPUT ENDS STARTS */


/* SIDEBAR BG START */




.sidebarBg{
  background-color: #00334c !important;
  display: flex ;
  flex-direction: column;
}

.sidebarBg .p-sidebar-header{
  border-bottom: 1px solid rgb(179, 179, 179);
}


.sidebarBg .p-sidebar-icons .p-sidebar-close{
  color: white !important;
}
.sidebarBg .p-sidebar-icons .p-sidebar-close:hover{
  color: white !important;
  background-color: transparent;
  font-weight: bold !important;
  transform: scale(0.8);
}

.dropdownBtn{
  border-color: #d5d9e1 !important;
  -webkit-tap-highlight-color: transparent;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px #1018280D;
  color: white;
  background-color: transparent;
  width: 100%;
  display: flex;
  border: none;


}

.authFuncCont{
  position: absolute;
  background-color: #00334c !important;
  width: 100%;
  left: 0px;
  padding: 12px 15px;
  bottom: 0px;
  border-top: 1px solid rgb(179, 179, 179);
  display: flex;
  align-items: center;
    }

.authFuncCont i{
  color: white !important;
}

/* SIDEBAR BG END */